/front/node_modules
/front/dist
/api/LottoApi/bin
/api/LottoApi/obj
/.vs
/.vscode
/api/Lotto/.vs
/api/Lotto/Lotto.Api.vs
/api/Lotto/Lotto.Api/bin
/api/Lotto/Lotto.Api/obj
/api/Lotto/Lotto.Common.vs
/api/Lotto/Lotto.Common/bin
/api/Lotto/Lotto.Common/obj
/api/Lotto/Lotto.DAL.vs
/api/Lotto/Lotto.DAL/bin
/api/Lotto/Lotto.DAL/obj
/api/Lotto/Lotto.Data.vs
/api/Lotto/Lotto.Data/bin
/api/Lotto/Lotto.Data/obj
/api/Lotto/Lotto.Services.vs
/api/Lotto/Lotto.Services/bin
/api/Lotto/Lotto.Services/obj
/api/Lotto/Lotto.Api/Properties/PublishProfiles
