header{
    font-size: 24pt;
    text-align: center;
    margin-bottom: 5pt;
    color: rgb(74, 74, 74);
    font-weight: 700;
}

label { 
    font-size: 12pt;
    color: rgb(74, 74, 74);
    font-weight: 500;
}

.btn-primary {
    width: 180pt;
    height: 40pt;
    background-color: rgb(231, 60, 127);
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1.2pt;
    font-weight: 500pt;
    font-weight: 700;
}

// .wrapper {
//     display: flex;
//     justify-content: center;
//     height: 300px;
//     align-items: center;
//     -webkit-box-shadow: 1px 0px 22px 1px rgba(0, 0, 0, 0.23);
//     -moz-box-shadow: 1px 0px 22px 1px rgba(0, 0, 0, 0.23);
//     box-shadow: 1px 0px 22px 1px rgba(0, 0, 0, 0.23);
//   }

//   .window-frame {
//     height: calc(100vh - 40px);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
  
