<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="#"><img src="../assets/img/lotto.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Rejestracja</a>
      </li>
      <li class="nav-item" *ngIf="!isPlayerLoggedIn()">
        <a class="nav-link" routerLink="/login">Logowanie</a>
      </li>
      <li class="nav-item" *ngIf="isPlayerLoggedIn()">
        <a class="nav-link" (click)="logOut()">Wyloguj</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/map">Mapa<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Twoje środki</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>